html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

.slideshow {
  margin: 0 auto;
  padding: 20px;
  width: 640px;
  background: #F2F7FF;
}

.slideshow__button {
  padding: 4px 8px;
  border: 0 none;
  border-radius: 3px;
  width: 40px;
  height: 30px;
  line-height: 14px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #1c80e7;
  outline: none;
  user-select: none;
}

.slideshow__button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.slideshow__search {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px;
}

.slideshow__search__input {
  flex: 1 1 auto;
  margin: 0 5px 0 0;
  padding: 4px 8px;
  border: solid 1px #ccc;
  border-radius: 3px;
  height: 30px;
  line-height: 14px;
  font-size: 14px;
  outline: none;
}

.slideshow__search__button {
  flex: 0 0 auto;
  width: 60px;
}

.slideshow__images {
  overflow: hidden;
  background-color: #ccc;
  width: 600px;
  height: 400px;
}

.slideshow__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
}

.slideshow__image__img {
  position: relative;
  width: 100%;
}

.slideshow__control {
  overflow: hidden;
  margin: 10px 0 0;
}

.slideshow__control__right {
  float: right;
}

.slideshow__control__left {
  float: left;
}
